<nz-spin [nzSpinning]="isLoading">
  <div class="flex flex-col gap-4">
    <div>
      <div>
        Nhập tiêu đề
      </div>
      <input type="text" nz-input [(ngModel)]="title">
    </div>
    <div>
      <div>
        Chọn loại bài viết
      </div>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại bài viết" class="w-full" [(ngModel)]="typeId">
        <nz-option *ngFor="let item of listType" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
      </nz-select>
    </div>
    <div>
      <div>
        Nhập nội dung
      </div>
      <angular-editor [config]="editorConfig" [(ngModel)]="description"></angular-editor>
    </div>
  </div>
</nz-spin>