<div class="md:max-w-[1200px] px-4 mx-auto text-justify py-6">
  <div>
    HIEU TRAN DENTAL LAB trung tâm gia công các sản phẩm phục hình răng giả chất lượng cao với trang thiết bị hiện đại,
    vật liệu nhập khẩu chính hãng từ Hoa kỳ, CHLB Đức và Nhật Bản. Đặc biệt là các sản phẩm răng toàn sứ LAVA 3M, NACERA,
    CERAMILL, HT SMILE, CERCON, VENUS, KATANA, VITAZIR... được sản xuất bằng công nghệ CAD/CAM trên vật liệu ZICONIA đạt
    tiêu chuẩn quốc tế, đáp ứng tốt nhất những đòi hỏi khắt khe về tính thẩm mỹ, tính chính xác, đảm bảo sức khỏe của khách
    hàng sử dụng sản phẩm. <br/><br />
    
    Đội ngũ Bác sĩ chúng tôi là những người trẻ được đào tạo bài bản, có kinh nghiệm phong phú và luôn luôn đặt tâm mình vào
    từng ca chăm sóc và điều trị. Chúng tôi luôn luôn đưa đến cho khách hàng sự tư vấn trung thực, thích hợp và sự chăm sóc
    tận tình, chu đáo nhất.<br /><br />
    
    Chúng tôi luôn nâng cao năng lực, đào tạo bác sĩ, nhân viên với kiến thức mới nhất cũng như cập nhật và trang bị thiết
    bị, cơ sở kĩ thuật hiện đại, tân tiến nhất. Chúng tôi luôn phấn đấu hết mình để cung cấp cho khách hàng những dịch vụ
    điều trị đạt chất lượng cao.<br /><br />
    
    HIEU TRAN DENTAL LAB <br /><br />
  </div>
  <div>
    - Điện thoại: 0982.875.357 / 0978.328.198
  </div>
  <br />
  <div>
    {{ '- Email: hieutrandental@gmail.com' }}
  </div>
  <br />
  <div>
    - Địa chỉ : Số 04, ngõ 338 phố Bạch Đằng, phường Chương Dương Độ, quận Hoàn Kiếm, Hà Nội
  </div>
</div>