<div class="container p-6">
  <div class="text-xl font-bold text-center mb-6">
    <span class="border-b-2 border-yellow-500">
      TRA CỨU THÔNG TIN BẢO HÀNH
    </span>
  </div>
  <div class="flex flex-col justify-center items-center gap-4">
    <nz-input-group nzSearch nzSize="large" class="!w-1/2" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="Nhập Mã số thẻ" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button class="!bg-yellow-500 !text-white" nzSize="large" nzSearch>Tra cứu</button>
    </ng-template>
    <div>
      <div class="text-xl text-center mb-4">
        <span class="border-b-2 border-yellow-500">
          Thông tin bảo hành
        </span>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="font-bold">
          Mã số: 
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Tên khách hàng:
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Phòng khám
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Labo
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Vật liệu:
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Xuất xứ
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Ngày bắt đầu
        </div>
        <div>
          HT12345
        </div>
        <div class="font-bold">
          Ngày kết thúc
        </div>
        <div>
          HT12345
        </div>
      </div>
    </div>
  </div>
</div>