<nz-layout class="!bg-main !min-h-screen relative">
  <nz-header class="fixed z-[100] w-full bg-header flex justify-between !text-white font-bold text-lg items-center !py-12">
    <div>
      Logo
    </div>
    <div class="flex items-center gap-16 menu">
      <div *ngFor="let item of listMenu" class="uppercase cursor-pointer hover:scale-125 transition-transform">
        {{item.name}}
      </div>
    </div>
    <div class="menu-bar" (click)="open()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="" [nzWidth]="250"
      (nzOnClose)="close()">
      <ng-container *nzDrawerContent>
        <div class="flex flex-col space-y-4">
          <div *ngFor="let item of listMenu" class="uppercase cursor-pointer" (click)="close()">
            {{item.name}}
          </div>
        </div>
      </ng-container>
    </nz-drawer>
  </nz-header>
  <nz-content class="h-full mt-24 !text-white">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="md:grid md:grid-cols-3 md:gap-32 flex flex-col gap-10 bg-header !text-white !py-12">
    <div>
      <div class="font-bold text-base mb-8">VỀ CHÚNG TÔI</div>
      <div class="text-sm text-justify">
        HIEUTRAN DENTAL LAB chuyên cung cấp các sản phẩm phục hình răng giả chất lượng cao với trang thiết bị hiện đại, vật
        liệu nhập khẩu chính hãng từ Hoa kỳ, CHLB Đức và Nhật Bản. Đặc biệt là các sản phẩm răng toàn sứ LAVA 3M, NACERA,
        CERAMILL, HT SMILE, CERCON, VENUS, KATANA, VITAZIR... được sản xuất bằng công nghệ CAD/CAM trên vật liệu ZICONIA đạt
        tiêu chuẩn quốc tế, đáp ứng tốt nhất những đòi hỏi khắt khe về tính thẩm mỹ, tính chính xác, đảm bảo sức khỏe của khách
        hàng sử dụng sản phẩm.
        <br/><br/>
        Đến với HIEUTRAN DENTAL LAB chắc chắn quý khách sẽ hài lòng về các sản phẩm và dịch vụ của công ty chúng tôi!
      </div>
    </div>
    <div>
      <div class="font-bold text-base mb-8 ">HURRY UP AND CONTACT US TO GET THE LATEST OFFER</div>
      <div class="font-bold text-base mb-4">HIEUTRAN DENTAL LAB</div>
      <div>
        <p>
          - Phone: 0982.875.357 / 0978.328.198
        </p>
        <p>
          - Email: {{'hieutrandental@gmail.com'}}
        </p>
        <p>
          - Addres: No.04, Alley 338, Bach Dang Street, Chuong Duong Do, Hoan Kiem District, Hanoi City
        </p>
      </div>
    </div>
    <div>
      <div class="font-bold text-base mb-8">FANPAGE</div>
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftranhieuu&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media">
      </iframe>
    </div>
  </nz-footer>
  <div class="fixed bottom-16 right-12 flex flex-col justify-end items-end menu">
    <div>
      <span nz-icon [nzType]="isShowCarousel ? 'double-left' : 'double-right'" nzTheme="outline" class="!text-white bg-black text-xl" (click)="isShowCarousel = !isShowCarousel"></span>
    </div>
    <div [class]="isShowCarousel ? 'carousel-show' : 'carousel-hide'" class="carousel">
      <img src="../../assets/images/carousel/search-1.jpg" alt="Ảnh 1">
      <img src="../../assets/images/carousel/search-2.jpg" alt="Ảnh 2">
      <img src="../../assets/images/carousel/search-3.jpg" alt="Ảnh 3">
    </div>
    <nz-input-group [class]="isShowCarousel ? 'carousel-show' : 'carousel-hide'" nzSearch nzSize="large" class="!w-[250px]" [nzAddOnAfter]="suffixButton">
      <input type="text" [(ngModel)]="code" nz-input placeholder="Tra cứu bảo hành" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" (click)="traCuu()">
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </div>
</nz-layout>