<nz-spin [nzSpinning]="isLoading">
  <form nz-form [formGroup]="productInformation">
    <div class="grid grid-cols-2 gap-4">
      <nz-form-item>
        <nz-form-control>
          <div>Mã số</div>
          <input nz-input placeholder="Mã số" formControlName="code" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div>Tên bệnh nhân</div>
          <input nz-input placeholder="Tên bệnh nhân" formControlName="patientName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div>Phòng khám - Bác sĩ</div>
          <input nz-input placeholder="VD: Phòng X - Bác sĩ Y" formControlName="doctorClinic" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div>Số răng</div>
          <input nz-input placeholder="Số răng" type="text" formControlName="numberOfTeeth" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div>Vật liệu</div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn vật liệu" class="w-full" formControlName="material" (ngModelChange)="changeMaterial($event)">
            <nz-option *ngFor="let item of listMaterial" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <div>
        <div>Thời gian bảo hành</div>
        <div class="grid grid-cols-2 gap-4">
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="startDate" class="w-full"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="endDate" class="w-full"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
</nz-spin>