<div>
  <div>
    <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="4000" class="md:h-[700px] h-[200px]">
      <div *ngFor="let item of listHeaderCarousel" nz-carousel-content class="h-full w-full relative">
        <div class="w-full h-full z-10 absolute"></div>
        <img [src]="item" alt="" class="w-full h-full object-cover">
      </div>
    </nz-carousel>
  </div>
  <div class="container py-6">
    <div class="search-container flex flex-col items-center mb-6">
      <div [class]="isShowCarousel ? 'carousel-show' : 'carousel-hide'" class="carousel">
        <img src="../../../assets/images/carousel/search-1.jpg" alt="Ảnh 1">
        <img src="../../../assets/images/carousel/search-2.jpg" alt="Ảnh 2">
        <img src="../../../assets/images/carousel/search-3.jpg" alt="Ảnh 3">
      </div>
      <nz-input-group [class]="isShowCarousel ? 'carousel-show' : 'carousel-hide'" nzSearch nzSize="large"
        class="!w-[300px]" [nzAddOnAfter]="suffixButton">
        <input type="text" (keyup.enter)="traCuu()" [(ngModel)]="code" nz-input placeholder="Tra cứu bảo hành" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzSize="large" (click)="traCuu()">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
    <div class="text-center text-white mb-6">
      <span class="border-b-2 border-red-800 text-2xl font-bold">
        SẢN PHẨM
      </span>
    </div>
    <owl-carousel-o [options]="customOptions" class="my-0 mx-auto">
      <ng-template carouselSlide>
        <div class="gradient-border rounded-lg zoom-image-scale mb-2">
          <img src="../../../assets/images/carousel/rang-su-nacera-3.jpg" alt=""
            class="w-full h-full object-cover rounded-lg">
        </div>
        <div class="text-center text-xl font-bold hover:text-yellow-500 cursor-pointer transition-all">
          SỨ NACERA
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gradient-border rounded-lg zoom-image-scale mb-2">
          <img src="../../../assets/images/carousel/ddbio.jpg" alt="" class="w-full h-full object-cover rounded-lg">
        </div>
        <div class="text-center text-xl font-bold hover:text-yellow-500 cursor-pointer transition-all">
          RĂNG SỨ DDBIO
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gradient-border rounded-lg zoom-image-scale mb-2">
          <img src="../../../assets/images/carousel/venus.png" alt="" class="w-full h-full object-cover rounded-lg">
        </div>
        <div class="text-center text-xl font-bold hover:text-yellow-500 cursor-pointer transition-all">
          SỨ ELITE
        </div>
        <div class="w-1/2 text-center mx-auto line-clamp-3">
          Elite Press là dòng sản phẩm sứ nha khoa cao cấp, nổi bật với độ bền vượt trội và khả năng tái tạo màu sắc tự nhiên,
          mang đến cho bệnh nhân nụ cười hoàn hảo và tự tin. Sản phẩm được chế tạo từ vật liệu lithium disilicate, có tính chất cơ
          học ưu việt và độ trong suốt tuyệt vời, giúp phục hình răng trở nên chân thật như răng thật
        </div>
        <div class="cursor-pointer text-yellow-500 hover:underline transition-all w-1/2 text-center mx-auto">
          Xem thêm
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>