<nz-spin [nzSpinning]="isLoading">
  <div class="flex flex-col">
    <div class="text-3xl font-bold mb-10">
      Quản lý sản phẩm
    </div>
    <div class="text-[12px] md:text-base">
      <div class="mb-4">
        <button nz-button nzType="primary" (click)="addNewProduct()">Thêm mới sản phẩm</button>
      </div>
      <div class="mb-4 md:grid md:grid-cols-3 md:gap-4">
        <div>
          <div>
            Tìm kiếm theo tên bệnh nhân
          </div>
          <input nz-input placeholder="Nhập tên bệnh nhân" [(ngModel)]="patientName" />
        </div>
        <div>
          <div>
            Tìm kiếm theo mã số
          </div>
          <input nz-input placeholder="Nhập mã số" [(ngModel)]="code" />
        </div>
        <div>
          <div>
            Tìm kiếm theo phòng khám/bác sĩ
          </div>
          <input nz-input placeholder="Nhập phòng khám/bác sĩ" [(ngModel)]="doctor" />
        </div>
        <div>
          <div>
            Tìm kiếm theo hạn sử dụng
          </div>
          <div class="md:block hidden">
            <nz-range-picker nzFormat="dd/MM/yyyy" class="w-full" [(ngModel)]="date"></nz-range-picker>
          </div>
          <div class="flex gap-2 md:hidden">
            <nz-date-picker [(ngModel)]="date[0]" nzPlaceHolder="Ngày bắt đầu" class="w-full"
              nzFormat="dd/MM/yyyy"></nz-date-picker>
            <nz-date-picker [(ngModel)]="date[1]" nzPlaceHolder="Ngày kết thúc" class="w-full"
              nzFormat="dd/MM/yyyy"></nz-date-picker>
          </div>
        </div>
        <div>
          <div>
            Tìm kiếm theo vật liệu
          </div>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn vật liệu" class="w-full" [(ngModel)]="material">
            <nz-option *ngFor="let item of listMaterial" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <nz-table class="hidden md:block" #basicTable [nzData]="listData" [nzScroll]="{ y: '400px' }">
      <thead>
        <tr>
          <th>Mã số</th>
          <th>Tên bệnh nhân</th>
          <th>Phòng Khám - Bác sĩ</th>
          <th>Số răng</th>
          <th>Vật liệu</th>
          <th>Thời gian bảo hành</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" class="cursor-pointer">
          <td>{{ data.code }}</td>
          <td>{{ data.patientName }}</td>
          <td>{{ data.doctorClinic }}</td>
          <td>{{ data.numberOfTeeth }}</td>
          <td>{{ data.material }}</td>
          <td>{{ formatDate(data.startDate) }} - {{formatDate(data.endDate)}}</td>
          <td class="flex items-center justify-center">
            <div class="flex gap-4">
              <button nz-button nzType="primary"><span nz-icon nzType="edit" (click)="editProduct(data)"></span></button>
              <button nz-button nzType="primary" nzDanger><span nz-icon nzType="delete"
                  (click)="deleteData(data.id)"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="md:hidden block">
      <div class="flex flex-col gap-4 container-scroll">
        <nz-collapse *ngFor="let data of listData">
          <nz-collapse-panel [nzHeader]="header">
            <ng-template #header>
              <div class="text-[12px] relative">
                <div class="flex gap-4">
                  <div class="w-[100px]">Mã số:</div>
                  <div>{{data.code}}</div>
                </div>
                <div class="flex gap-4">
                  <div class="w-[100px]">Tên bệnh nhân:</div>
                  <div>{{data.patientName}}</div>
                </div>
                <div class="absolute right-0 -top-2 flex flex-col">
                  <button nz-button nzType="primary" nzSize="small"><span nz-icon nzType="edit"
                      (click)="editProduct(data)"></span></button>
                  <button nz-button nzType="primary" nzDanger nzSize="small"><span nz-icon nzType="delete"
                      (click)="deleteData(data.id)"></span></button>
                </div>
              </div>
            </ng-template>
            <div class="text-[12px] relative">
              <div class="flex gap-4">
                <div class="w-[100px]">Phòng khám - Bác sĩ:</div>
                <div>{{data.doctorClinic}}</div>
              </div>
              <div class="flex gap-4">
                <div class="w-[100px]">Số răng:</div>
                <div>{{data.numberOfTeeth}}</div>
              </div>
              <div class="flex gap-4">
                <div class="w-[100px]">Vật liệu:</div>
                <div>{{data.material}}</div>
              </div>
              <div class="flex gap-4">
                <div class="w-[100px]">Thời gian bảo hành</div>
                <div>{{ formatDate(data.startDate) }} - {{formatDate(data.endDate)}}</div>
              </div>
              <button nz-button class="absolute border rounded" (click)="copyToClipboard(data.code)">
                <i class="fa-solid fa-clipboard"></i>
              </button>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <nz-pagination [nzPageIndex]="page" [nzTotal]="15" (nzPageIndexChange)="changePage($event)"></nz-pagination>
    </div>
  </div>
</nz-spin>