<div class="h-screen relative">
  <div class="absolute flex flex-col gap-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-2 border-neutral-400 rounded-lg p-6 bg-black bg-opacity-25">
    <div class="text-3xl font-bold text-center text-blue-500">
      ĐĂNG NHẬP
    </div>
    <div>
      <label>Tên đăng nhập</label>
      <input nz-input placeholder="Tên đăng nhập" type="text" />
    </div>
    <div>
      <label>Mật khẩu</label>
      <input nz-input placeholder="Mật khẩu" type="password" />
    </div>
    <button nz-button nzType="primary">Đăng nhập</button>
  </div>
</div>